body {
    font-family:'Courier New', Courier, monospace;
}

#group1 > div, #group2 > div, #group3 > div {
    height: 11px;
    width: 11px;
    left: -7px;
    top: 10.5dvh;
}

#group1 > span, #group2 > span, #group3 > span {
    top: 9dvh;
}

#group1 > span {
    left: -3dvw;
}

#group2 > span {
    left: -3.6dvw;
}

#group3 > span {
    left: -4dvw;
}

.card {
    width: 400px;
    height: 140px;
}

.card-dot {
    height: 30px;
    width: 30px;
    top: 25px;
    left: 30px;
}

.card-body {
    top: 5%
}

#characterCards > ul > li > article > .card {
    width: 200px;
}